x-replane-common: &replane-common
  image: ghcr.io/replane-dev/replane:latest
  depends_on:
    postgres:
      condition: service_healthy
  environment: &replane-env
    DATABASE_URL: postgresql://postgres:postgres@postgres:5432/replane
    # this doesn't matter, because it isn't used for API calls
    BASE_URL: http://localhost:8080
    SECRET_KEY: test-secret-key-for-ci
    SUPERUSER_API_KEY: ${REPLANE_SUPERADMIN_API_KEY}
    TESTING_MODE: true

services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: replane
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Replane instance for admin API
  replane-1:
    <<: *replane-common
    ports:
      - '${REPLANE_ADMIN_API_PORT}:8080'

  # Replane instance for sdk API
  replane-2:
    <<: *replane-common
    ports:
      - '${REPLANE_EDGE_API_PORT}:8080'

  # Replane instance for distraction (to catch some replication issues)
  replane-3:
    <<: *replane-common

