name: CLA Assistant
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
  issue_comment:
    types: [created]

jobs:
  cla:
    uses: replane-dev/.github/.github/workflows/cla.yml@main
    secrets:
      CLA_TOKEN: ${{ secrets.CLA_TOKEN }}
